name: ci

on:
  push:
    branches:
      - master

jobs:
  path-context:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Node Setup
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Build React App
        working-directory: ./
        run: |
          yarn && yarn build:production
          cp -r build deployments/docker

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./deployments/docker
          file: ./deployments/docker/Dockerfile
          load: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/gokit-todo-frontend:latest
      
      - run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/gokit-todo-frontend:latest
